
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">
          Grâce à <%= image_tag('logo-white@0.25x.png')  %><br/>
          ce soir c'est <br class="visible-xs" /><span class="typed"></span>
        </h1>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Petite faim?</h1>
          <p class="lead">
            Tout le monde a un restaurant favori! Miam s'engage à vous livrer les plats de votre restaurant préféré directement au seuil de votre porte. 
          </p>
          <p class="lead">
            Grâce à notre système de paiement en ligne, plus besoin d'avoir d'espèces sur vous. Réglez lors de la commande en toute sécurité: plus de perte de temps ou de monnaie à rendre.
          </p>
          <p class="lead">
            Miam aborde la livraison à domicile d'une toute nouvelle manière. Avec nous, les plats de votre restaurant préféré, chauds et en moins de 45 minutes chez vous.
          </p>
          <p class="lead">
            <i>Cliquez, c'est livré!</i>
          </p>
        </div>
        <div class="col-md-5">
          <%= link_to 'Venues', venues_url %>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          &copy; Miam 2016
        </div>
        <div class="col-md-6 text-right">
          <ul class="list-inline list-unstyled">
            <li><%= link_to "Support", "#" %></li>
            <li><%= link_to "Coursier", "#" %></li>
            <li><%= link_to "Etablissement", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
