
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">
          Grâce à <%= image_tag('logo-white@0.25x.png')  %><br/>
          ce soir c'est <br class="visible-xs" /><span class="typed"></span>
        </h1>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-7 col-lg-offset-1">
          <h1>Petite faim?</h1>
          <p class="lead">
            Tout le monde a un restaurant favori. Miam livre les plats de votre restaurant préféré directement au seuil de votre porte. 
          </p>
          <p class="lead">
            Avec notre système de payement en ligne, plus besoin d'avoir d'espèces sur vous. Régler lors de la commande en toute sécurité: plus de perte de temps ou de monnaie à rendre.
          </p>
          <p class="lead">
            Miam approche la livraison à domicile d'une toute nouvelle manière. Avec nous, vos plats préférés en moins de 30 minutes.
          </p>
          <p class="lead">
            <i>Cliqué c'est livré!</i>
          </p>
        </div>
        <div class="col-lg-4 col-lg-offset-1">

        </div>
      </div>
    </div>
  </section>

  <section class="optins">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 titles">
          <h2 class="text-center">Soyez parmis les premiers</h2>
          <p class="lead text-center">Inscrivez-vous maintenant et soyez parmis les premiers invités à utiliser Miam!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">
          <%= form_for(@opt_in, remote:true) do |f| %>
            <div class="input-group">
              <%= f.email_field :email, class: "form-control input-lg", placeholder: "Votre e-mail" %>
              <span class="input-group-btn">
                <%= f.submit "Invitez-moi!", class: 'btn btn-default btn-lg' %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="cities">
    <div class="container">
      <div class="row">

        <div class="col-md-7 col-md-push-4 col-lg-6 col-lg-offset-1 col-lg-push-4">
          <p class="lead">
            Aidez-nous à determiner où notre service sera le plus utile.
          </p>
          <p class="lead">Si vous pensez que votre ville nécessite d'un service de livraison à domicile, n'hésitez pas à inscrire votre ville ci-dessous ou à voter pour une des villes déjà en lisse pour le titre!</p>

          <%= form_for(@city, remote: true) do |f| %>
            <div class="input-group cities-add" id="city_add">
              <%= f.text_field :label, class: "form-control input-lg", placeholder: "Nouvelle ville" %>
              <span class="input-group-btn">
                <%= f.submit "🏆", class: 'btn btn-lg btn-default' %>
              </span>
            </div>
          <% end %>
        </div>

        <div class="col-md-4 col-md-pull-7 col-lg-3 col-lg-offset-1 col-lg-pull-7">
          <div class="list-group list-primary cities">
            <% @cities.each do |city| %>
              <%= link_to cookies.permanent[:voted_city] ? '#' : vote_city_path(city.id), method: :put, class: "list-group-item", remote: true  do %>
                <%= city.label.split.map(&:capitalize).join(' ') %> 
                <% if cookies.permanent[:voted_city] %>
                  <% if cookies.permanent[:voted_city].to_s == city.id.to_s %>
                    &#128077;
                  <% end %>
                <% else %>
                  <span class="badge vote">voter</span>
                <% end %>
              <% end %>
               <!--  -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">

        <div class="col-sm-6 col-md-4 col-lg-5 col-lg-offset-1 col-centered">
          <h3 class="text-center">Patron d'établissement</h3>
          <p class="text-center lead">Vous souhaitez augmenter votre chiffre d'affaire en nous déléguant votre service de livraison? Contactez-nous sur <a href="mailto:hello@miam.ch">hello@miam.ch</a>.</p>
        </div>

    </div>
  </section>
</main>

<footer>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 col-lg-offset-1">
          &copy; Miam 2016
        </div>
        <div class="col-sm-7 text-right">
          <a href="https://www.facebook.com/miamsuisse/" target="_blank">On est sur Facebook</a>
        </div>
      </div>
    </div>
  </section>
</footer>
