<main class="login">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= image_tag 'logo-white@0.25x.png', class: "logo"  %><br/>
        <div class="input-group">
          <%= f.email_field :email, class: "form-control input-lg", placeholder: "e-mail" %>
          <span class="input-group-btn" style="width: 0px"></span>
          <%= f.password_field :password, class: "form-control input-lg", placeholder: "password" %>
          <span class="input-group-btn">
            <%= f.submit "Log in", class: "btn btn-lg btn-default" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</main>