<div class="panel panel-default">
  <div class="panel-heading">Merchants</div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Business</th>
      <th>City</th>
      <th>Contact Person</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Venues</th>
      <th></th>
    </tr>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.id %></td>
        <td><%= merchant.business_name %> <%= "(#{merchant.business_id})" %></td>
        <td><%= merchant.city %></td>
        <td><%= merchant.contact_person %></td>
        <td><%= merchant.phone %></td>
        <td><a href="mailto:<%= merchant.email %>"><%= merchant.email %></a></td>
        <td><%= merchant.venues.count %></td>
        <td class="text-right">
          <%= link_to 'Show', admin_merchant_path(merchant), class: "btn btn-xs btn-default" %>
          <%= link_to 'Edit', edit_admin_merchant_path(merchant), class: "btn btn-xs btn-primary" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
