<div class="container">
  <%= image_tag 'facebook-open-graph.jpg', class: "cover-image"  %><br/>

  <div class="row">
    <div class="col-lg-4">
      <h1><%= @venue.name %></h1>
      <p class="lead"><%= @venue.title %></p>
      <hr/>
      <p><%= @venue.description %></p>
      <hr/>
    </div>
    <div class="col-lg-8 venue_menu">
      <% @venue.live_product_groups.each do |product_group| %>
        <div class="product_group">
          <div class="header">
            <p class="title"><%= product_group.label %></p>
            <p class="subtitle"><%= product_group.description %></p>
          </div>
          <div class="products">
            <%product_group.live_products.each do |product| %>
              <div class="product" data-id="<%= product.id %>" data-base-price="<%= product.base_price %>" data-quantity="0">
                <a href="#" class="product_toggle" data-action="_product_toggle">
                  <div class="inner">
                    <div class="left">
                      <div class="check_box" data-action="_check_box"></div>
                    </div>
                    <div class="content">
                      <p class="title"><%= product.label %><span class="flagged_quantity"></span></p>
                      <p class="description"><%= product.description %></p>
                    </div>
                    <div class="right">
                      <span class="display_price"></span>
                    </div>
                  </div>
                </a>
                <div class="product_variations">
                  <div class="product_variation">
                    <div class="count">
                      <div class="left">
                        <span>Count: <span class="display_quantity">0</span></span>
                      </div>
                      <div class="right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default" data-action="_count_plus"><%= fa_icon "plus" %></button>
                          <button type="button" class="btn btn-default" data-action="_count_minus"><%= fa_icon "minus" %></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% product.product_variations.order(:order).each do |product_variation| %>
                  <div class="product_variation flow" data-id="<%= product_variation.id %>" data-allow-multi-choice="<%= product_variation.allow_multi_choices %>" data-multi-choice-limit="<%= product_variation.multi_choice_limit %>" data-has-default="<%= 'true' if product_variation.default_choice %>">
                    <a href="#" class="product_variation_toggle" data-action="_product_variation_toggle">
                      <div class="left">
                        <span><%= product_variation.label %></span>
                      </div>
                      <div class="right align-right">
                        <span class="info <%= 'secondary' unless product_variation.default_choice %>"></span>
                      </div>
                    </a>
                    <ul class="variation_options">
                    <% product_variation.variation_options.order(:order).each do |variation_option| %>
                      <li class="variation_option" data-id="<%= variation_option.id %>" data-variation-price="<%= variation_option.price_variation %>" data-allow-multi-choice="<%= variation_option.allow_multi_choices? %>" data-multi-choice-limit="<%= variation_option.multi_choice_limit %>" data-is-default="<%= 'true' if variation_option.default %>" data-quantity="<%= variation_option.default ? 1 : 0  %>" data-label="<%= variation_option.label %>">
                        <a class="variation_toggle" href="#" data-action="_variation_option_toggle">
                          <span class="variation_toggle_check_box"></span>
                          <span class="variation_toggle_label"><%= variation_option.label %></span>
                          <span class="variation_toggle_price"></span>
                        </a>
                      </li>
                    <% end %>
                    </ul>
                  </div>
                  <% end %>
                  <div class="product_variation duplicate">
                    <a href="#" class="product_variation_toggle" data-action="_duplicate">
                      <span><%= fa_icon "plus" %> Ajouter une copie de cet article (pour différentes options)</span>
                    </a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p class="navbar-text">
          <span class="venue-ball"></span>
          Ouvert: 12.00 - 19.00
          <!-- ToDo opening time -->
          
          <span class="spacer"></span>
          <span class="venue-ball disabled"></span>
          Livre: 13.00 - 15.00
          <!-- ToDo delivery time -->
          
          <span class="spacer"></span>
          <%= fa_icon "map-marker" %> 
          <%= @venue.street %>, <%= @venue.city_name %>

          <span class="spacer"></span>
          <%= fa_icon "phone" %> 
          <%= @venue.phone %>
        </p>
      </div>
      <div class="col-lg-3">
        <a href="" class="pull-right btn navbar-btn btn-primary">Commander 47.50 CHF</a>
      </div>
    </div>
  </div>
</nav>