<div class="panel panel-default">
  <div class="panel-heading">Venue</div>
  <div class="panel-body">
    <p class="lead">
      <%= @venue.name %>
      <% if @venue.editing? %>
        <span class="label label-default pull-right">editing</span>
      <% end %>
      <% if @venue.live? %>
        <span class="label label-success pull-right">live</span>
      <% end %>
      <% if @venue.offline? %>
        <span class="label label-danger pull-right">Offline</span>
      <% end %>
    </p>
    <p><%= @venue.title %></p>
    <p><%= @venue.address %></p>
    <p><%= @venue.phone %></p>
    <p><a href="<%= @venue.website_url_with_assumed_protocol %>"><%= @venue.website %></a></p>

    <p>Merchant: <%= link_to @venue.merchant.business_name, admin_merchant_path(@venue.merchant) %></p>
  </div>
</div>