<%= form_for([:admin, venue], :html => { class: 'form-horizontal' }) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= venue.persisted? ? 'Edit' : ' New' %> Venue</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :status, class: 'col-sm-2 control-label' %> *
        <div class="col-sm-10">
          <%= f.select(:status , Venue.statuses.keys, {}, { :class => 'form-control' }) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :name, class: 'col-sm-2 control-label' %> *
        <div class="col-sm-10">
          <%= f.text_field :name , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :title, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :title , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :description , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :phone, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.phone_field :phone , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :website, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.url_field :website , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :merchant_id, class: 'col-sm-2 control-label' %> *
        <div class="col-sm-10">
          <%= f.collection_select( :merchant_id, Merchant.all, :id, :business_name, {:prompt => true }, class: 'form-control') %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city_id, class: 'col-sm-2 control-label' %> *
        <div class="col-sm-10">
          <%= f.collection_select( :city_id, City.where(status: :live), :id, :label, {:prompt => true }, class: 'form-control') %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :street, class: 'col-sm-2 control-label' %> *
        <div class="col-sm-10">
          <%= f.text_field :street , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city_name, class: 'col-sm-2 control-label' %> *
        <div class="col-sm-10">
          <%= f.text_field :city_name , class: 'form-control' %>
        </div>
      </div>
      <% if venue.longitude? && venue.latitude %>
      <div class="form-group">
        <%= f.label "Lat,Lon", class: 'col-sm-2 control-label' %> *
        <div class="col-sm-10">
          <%= "[#{venue.longitude},#{venue.latitude}]" %>
        </div>
      </div>
      <% end %>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <%= f.check_box :accepts_delivery %> <%= f.label :accepts_delivery, class: ' control-label' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <%= f.check_box :accepts_take_away %> <%= f.label :accepts_take_away, class: ' control-label' %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
<% end %>