<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo-white@0.25x.png'), root_url, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li>
          <%= link_to account_path do %>
            <%= current_user.name %>
          <% end %>
        </li>
        <li>
          <div class="user-icon">
            <%= image_tag current_user.profile_picture.url if current_user.profile_picture.file %>
          </div>
        </li>
      <% else %>
        <li><%= link_to "Connexion", login_path, remote: true %></li>
        <li><%= link_to "Inscription", signup_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>