
<table class="table" style="margin:0px;">
  <% unless variation_options.empty? %>
    <tr>
      <th>Label</th>
      <th>Price variation</th>
      <th>Allow multi choices</th>
      <th></th>
    </tr>
    <% variation_options.order(:order).each do |variation_option| %>
      <tr>
        <td>
          <span class="label label-default"><%= variation_option.order %></span>
          <%= variation_option.label %>
          <% if variation_option.default? %>
          <span class="label label-info">default</span>
          <% end %>
        </td>
        <td><%= variation_option.price_variation %> CHF</td>
        <td>
          <%= variation_option.allow_multi_choices? ? 'yes' : 'no' %>
          
          <% if variation_option.allow_multi_choices? %>
            (limit <%= variation_option.multi_choice_limit %>)
          <% end %>
        </td>
        <td> </td>
        <td class="text-right">
          <%= link_to 'Edit', edit_admin_variation_option_path(variation_option), class: "btn btn-xs btn-primary" %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr><td>Product variation empty</td></tr>
  <% end %>
</table>