<div class="panel panel-default">
  <div class="panel-heading">Users</div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Referral</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? 'Yes' : 'No' %></td>
        <td><%= user.invitation_code %></td>
        <td class="text-right">
          <%= link_to 'Show', admin_user_path(user), class: "btn btn-xs btn-default" %>
          <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-xs btn-primary" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
