<p id="notice"><%= notice %></p>

<h1>Admin Product Variations</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Allow multi choices</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_product_variations.each do |admin_product_variation| %>
      <tr>
        <td><%= admin_product_variation.label %></td>
        <td><%= admin_product_variation.allow_multi_choices %></td>
        <td><%= admin_product_variation.product %></td>
        <td><%= link_to 'Show', admin_product_variation %></td>
        <td><%= link_to 'Edit', edit_admin_product_variation_path(admin_product_variation) %></td>
        <td><%= link_to 'Destroy', admin_product_variation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Product Variation', new_admin_product_variation_path %>
