<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @admin_product_variation.label %>
</p>

<p>
  <strong>Allow multi choices:</strong>
  <%= @admin_product_variation.allow_multi_choices %>
</p>

<p>
  <strong>Product:</strong>
  <%= @admin_product_variation.product %>
</p>

<%= link_to 'Edit', edit_admin_product_variation_path(@admin_product_variation) %> |
<%= link_to 'Back', admin_product_variations_path %>
