<ul class="nav nav-pills nav-stacked">
  <li><%= link_to "Vue d'ensemble", account_url %></li>
  <li><%=link_to "Gagner des crédits", credits_url %></li>
  <li><%=link_to "Mes adresses", addresses_url %></li>
  <li><%=link_to "Moyens de payements", payments_url %></li>
  <li><%=link_to "Historique des commandes", "#" %></li>
  <li><%=link_to "Ajouter promo code", "#" %></li>
  <li><%=link_to "Paramètres", "#" %></li>
  <li><%=link_to "Support", "#", :id => 'Intercom' %></li>
  <li>&#160;</li>
  <li><%=link_to "Déconnexion", logout_url, :class => 'btn btn block btn-danger' %></li>
</ul>