<!doctype html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <%= render partial: 'layouts/meta_tags' %>

    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :modernizr %>
  </head>
  <body class="c-<%= params[:controller] %> layout-account">
    <%= render partial: 'layouts/navbar_public' unless @noheader %>
    
    <main class="col-sm-7 row is-table-row">
      <% if logged_in? && info_filled_in? %>
      <div class="col-sm-3 col-sm-2 left">
        <%= render partial: 'layouts/account_menu' %>
      </div>
      <% end %>
      <div class="col-sm-9 col-sm-2 right">
        <%= yield %>
      </div>
    </main>
    <%= render partial: 'layouts/vendor_scripts' %>
    <%= render partial: 'layouts/handle_flashes' %>
  </body>
</html>