<!doctype html>
<html>
  <head>
    <title>Miam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="c-<%= params[:controller] %>">
    <%= render partial: 'layouts/navbar_admin' unless @noheader %>
    
    <main class="container-fluid">
      <%= yield %>
    </main>

    <%= render partial: 'layouts/handle_flashes' %>
  </body>
</html>
