<!doctype html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <title>Miam - Cliqué c'est livré</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Miam livre les plats de votre restaurant préféré directement au seuil de votre porte. Miam approche la livraison à domicile d'une toute nouvelle manière. Avec nous vos plats préférés en moins de 30 minutes.">
    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.miam.ch">
    <meta property="og:locale" content="fr_fr">
    <meta property="og:title" content="Cliqué c'est livré">
    <meta property="og:description" content="Miam livre les plats de votre restaurant préféré directement au seuil de votre porte. Miam approche la livraison à domicile d'une toute nouvelle manière. Avec nous vos plats préférés en moins de 30 minutes.">
    <meta property="og:image" content="<%= asset_url 'facebook-open-graph.jpg' %>">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.miam.ch">
    <meta name="twitter:title" content="Cliqué c'est livré">
    <meta name="twitter:description" content="Miam livre les plats de votre restaurant préféré directement au seuil de votre porte. Miam approche la livraison à domicile d'une toute nouvelle manière. Avec nous vos plats préférés en moins de 30 minutes.">
    <meta name="twitter:image:src" content="<%= asset_url 'facebook-open-graph.jpg' %>">

    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :modernizr %>
  </head>
  <body class="c-<%= params[:controller] %>">
    <%= yield %>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1234664213259981');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1234664213259981&ev=PageView&noscript=1" /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
  </body>
</html>
